[Unit]
Description=BancosFlow - creacion de las carpetas del dia
Documentation=https://github.com/Zara-Zugarramurdi/BancosFlow

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/teledata/BancosFlow
Environment=BANCOSFLOW_CONFIG=/home/teledata/BancosFlow/config/bancosflow.config.json
ExecStart=/usr/bin/node /home/teledata/BancosFlow/dist/rutasPlanillaBancos.js
NoNewPrivileges=true
